@import 'tailwindcss';

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --text-50: #f0f4f3;
    --text-100: #e1eae6;
    --text-200: #c4d4ce;
    --text-300: #a6bfb5;
    --text-400: #89a99c;
    --text-500: #6b9484;
    --text-600: #567669;
    --text-700: #40594f;
    --text-800: #2b3b35;
    --text-900: #151e1a;
    --text-950: #0b0f0d;
    
    --background-50: #f0f5f3;
    --background-100: #e0ebe7;
    --background-200: #c2d6ce;
    --background-300: #a3c2b6;
    --background-400: #85ad9d;
    --background-500: #669985;
    --background-600: #527a6a;
    --background-700: #3d5c50;
    --background-800: #293d35;
    --background-900: #141f1b;
    --background-950: #0a0f0d;
    
    --primary-50: #f0f5f3;
    --primary-100: #e1eae6;
    --primary-200: #c3d5ce;
    --primary-300: #a5c0b5;
    --primary-400: #87ab9d;
    --primary-500: #699684;
    --primary-600: #54786a;
    --primary-700: #3f5a4f;
    --primary-800: #2a3c35;
    --primary-900: #151e1a;
    --primary-950: #0a0f0d;
    
    --secondary-50: #f0f0f5;
    --secondary-100: #e2e1ea;
    --secondary-200: #c5c3d5;
    --secondary-300: #a7a5c0;
    --secondary-400: #8a87ab;
    --secondary-500: #6d6996;
    --secondary-600: #575478;
    --secondary-700: #413f5a;
    --secondary-800: #2c2a3c;
    --secondary-900: #16151e;
    --secondary-950: #0b0a0f;
    
    --accent-50: #f3f0f5;
    --accent-100: #e7e1ea;
    --accent-200: #cec3d5;
    --accent-300: #b6a5c0;
    --accent-400: #9d87ab;
    --accent-500: #856996;
    --accent-600: #6a5478;
    --accent-700: #503f5a;
    --accent-800: #352a3c;
    --accent-900: #1b151e;
    --accent-950: #0d0a0f;
    
  }
  .dark {
    --text-50: #0b0f0d;
    --text-100: #151e1a;
    --text-200: #2b3b35;
    --text-300: #40594f;
    --text-400: #567669;
    --text-500: #6b9484;
    --text-600: #89a99c;
    --text-700: #a6bfb5;
    --text-800: #c4d4ce;
    --text-900: #e1eae6;
    --text-950: #f0f4f3;
    
    --background-50: #0a0f0d;
    --background-100: #141f1b;
    --background-200: #293d35;
    --background-300: #3d5c50;
    --background-400: #527a6a;
    --background-500: #669985;
    --background-600: #85ad9d;
    --background-700: #a3c2b6;
    --background-800: #c2d6ce;
    --background-900: #e0ebe7;
    --background-950: #f0f5f3;
    
    --primary-50: #0a0f0d;
    --primary-100: #151e1a;
    --primary-200: #2a3c35;
    --primary-300: #3f5a4f;
    --primary-400: #54786a;
    --primary-500: #699684;
    --primary-600: #87ab9d;
    --primary-700: #a5c0b5;
    --primary-800: #c3d5ce;
    --primary-900: #e1eae6;
    --primary-950: #f0f5f3;
    
    --secondary-50: #0b0a0f;
    --secondary-100: #16151e;
    --secondary-200: #2c2a3c;
    --secondary-300: #413f5a;
    --secondary-400: #575478;
    --secondary-500: #6d6996;
    --secondary-600: #8a87ab;
    --secondary-700: #a7a5c0;
    --secondary-800: #c5c3d5;
    --secondary-900: #e2e1ea;
    --secondary-950: #f0f0f5;
    
    --accent-50: #0d0a0f;
    --accent-100: #1b151e;
    --accent-200: #352a3c;
    --accent-300: #503f5a;
    --accent-400: #6a5478;
    --accent-500: #856996;
    --accent-600: #9d87ab;
    --accent-700: #b6a5c0;
    --accent-800: #cec3d5;
    --accent-900: #e7e1ea;
    --accent-950: #f3f0f5;
    
  }
}
